workflows/virtual_assistant.json
{
  "name": "virtual_assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assistant",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1344,
        192
      ],
      "id": "1bc60526-0989-4a91-9c88-8e921b42bb8e",
      "name": "Webhook",
      "webhookId": "41b24507-a628-41be-b2d2-f3ad54fc4251"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f90002ee-efab-42dd-a45d-a611284167d7",
              "name": "message",
              "value": "={{ $json.body.message || '' }}",
              "type": "string"
            },
            {
              "id": "5713b614-391f-4c00-b438-06984ca9ae64",
              "name": "userId",
              "value": "={{ $json.body.userId || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        192
      ],
      "id": "d1750b83-cb2e-40b3-924a-1d0414ac7e79",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": \"{{ $json.aiReply }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ],
      "id": "400f23fb-d37d-45d5-bd63-24706071f253",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3.2:3b"
            },
            {
              "name": "prompt",
              "value": "=Você é um assistente virtual profissional de um negócio.\n\nDIRETRIZES:\n- Seja breve, direto e natural\n- Use o histórico da conversa para manter contexto\n- Se não souber algo, seja honesto\n- Mantenha tom cordial e prestativo\n- Respostas com no máximo 3-4 linhas\n\n{{ $json.prompt }}"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -448,
        192
      ],
      "id": "800d3717-117a-4bab-bab7-79b25c92ab86",
      "name": "Call Local AI"
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $json.response || 'Desculpe, não consegui proecessar sua mensagem.';\n\nreturn [{\n  ...($input.item.json),\n  aiReply: aiResponse.trim()\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        192
      ],
      "id": "86409f61-2118-4361-a0f2-10bcfb4ad9d4",
      "name": "Extract AI Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, message, timestamp\nFROM conversation_history\nWHERE user_id = '{{ $json.userId }}'\nORDER BY timestamp DESC\nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -896,
        192
      ],
      "id": "8235cd8a-2ba1-47a0-b063-7849767f614f",
      "name": "Get History",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yR1ECYKPZjeL8xPm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const history = $input.all();\nconst currentMessage = $('Normalize Input').first().json.message;\nconst userId = $('Normalize Input').first().json.userId;\n\nconst messages = history.reverse();\n\nlet context = 'Histórico da conversa:\\n\\n';\n\nif (messages.length > 0) {\n  messages.forEach(msg => {\n    context += `${msg.json.role}: ${msg.json.message}\\n`;\n  });\n} else {\n  context = 'Primeira conversa com este usuário.\\n\\n';\n}\n\ncontext += `\\nUsuário: ${currentMessage}\\nAssistente:`;\n\nreturn [{\n  json: {\n    userId: userId,\n    message: currentMessage,\n    prompt: context\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        192
      ],
      "id": "a11f747d-909e-410a-bef4-3ad880fb4d4c",
      "name": "Build Context"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_history (user_id, role, message)\nVALUES ('{{ $('Normalize Input').first().json.userId }}', 'user', '{{ $('Normalize Input').first().json.message }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        192
      ],
      "id": "3858a0c3-8834-4b8e-8f8c-93414f7ac9cc",
      "name": "Save User Message",
      "credentials": {
        "postgres": {
          "id": "yR1ECYKPZjeL8xPm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_history (user_id, role, message)\nVALUES ('{{ $('Normalize Input').first().json.userId }}', 'assistant', '{{ $json.aiReply }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        384
      ],
      "id": "90f9572e-d1b6-4b8e-af1e-68cc4e011ecd",
      "name": "Save AI Response",
      "credentials": {
        "postgres": {
          "id": "yR1ECYKPZjeL8xPm",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Get History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Local AI": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save User Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get History": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Call Local AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f3043140-d53d-479c-95d8-0465b5685192",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37217154d55df78e34953638b494ff7c3ce3fd19b9c6fe137797eccd771f2d21"
  },
  "id": "_WlzoJepxnCbTVwFpdIhz",
  "tags": []
}